/* .login-screen {
  background-image: url(../../../assets/blob.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.login-screen .loginscreen-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  align-items: center;
}

.login-screen .left-column img {
  width: 100%;
}

.login-screen .loginscreen-container .right-column {
  padding: 0 50px;
}

.login-screen .loginscreen-container .right-column .right-column-header img {
  width: 10%;
  margin-bottom: 14px;
}

.form {
  color: #3e334e;
}

.form .form-details {
  margin-bottom: 7px;
}

.form .form-details label {
  display: block;
  line-height: 30px;
  font-weight: 600;
  color: #4f5662;
}

.form .form-details input {
  padding: 18px 14px;
  width: 90%;
  outline: none;
  border-radius: 8px;
  color: #4f5662;
  border: 1px solid #afa2c3;
  background-color: #fff;
}

.form-details .form-password-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-radius: 8px;
  color: #3e334e;
  border: 1px solid #afa2c3;
  width: 90%;
}

.form-details .form-password-toggle input {
  border-style: none;
  outline: none;
  width: 100%;
  padding: 14px;
  color: #4f5662;
  background-color: #fff;
}

form .form-foot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

:is(form .form-foot label, form .form-foot a) {
  color: #3e334e;
}

input[type="checkbox"] {
  accent-color: #000;
  margin-right: 10px;
}

.form-error-message {
  font-size: 12px;
  color: #ff574d;
  width: 90%;
  overflow-wrap: break-word;
  height: 4vh;
}

form .form-details .error-style {
  border: 1px solid #ff574d;
  width: 90%;
}

.hidden-text {
  visibility: hidden;
  width: 90%;
  overflow-wrap: break-word;
  height: 4vh;
}

.login-btn {
  background-color: #000;
  padding: 1px 0;
  border-radius: 8px;
  width: 100%;
  border-style: none;
  padding: 12px 0;
  color: #fff;
  font-size: 16px;
  cursor: default;
}

.login-btn:hover {
  background-color: #000;
}

.login-btn-error {
  background-color: #e5e7eb;
  color: #68696c;
  padding: 1px 0;
  border-radius: 8px;
  border-style: none;
  pointer-events: none;
  padding: 12px 0;
  width: 90%;
  font-size: 16px;
} */
